body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    }

h1 {
    font-size: 24px;
    }

label {
     font-size: 18px;
    }

input {
    margin-bottom: 10px;
    }

button {
	background-color:#74ad5a;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
button:hover {
	background-color:#5cbf2a;
}
button:active {
	position:relative;
	top:1px;
}

/* Styles for table*/
table {
    border-collapse: collapse;
    width: 100%;
    }

th {
	background-color:#74ad5a;
	border:2px solid #3b6e22;
    padding: 8px;
    text-align: center;
    }
 
td {
    border: 2px solid black;
    padding: 8px;
    text-align: right;
    }

/* Styles for modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    }

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 6px;
    width: 50%;
    }

dialog { 
  border: none !important;
}
